# Some workflows depend on the base branch of the PR, but changing the base branch is not included in the default trigger events, which would be `opened`, `synchronize` or `reopened`.
# Instead it causes an `edited` event.
# Since `edited` is also triggered when PR title/body is changed, we use this wrapper workflow, to run the other workflows conditionally only.
# There is a feature request for adding a `base_changed` event: https://github.com/orgs/community/discussions/35058
#
# Instead of adding this to each workflow's pull_request_target event, we trigger this in a separate workflow.
# This has the advantage, that we can actually skip running those jobs for simple edits like changing the title or description.

name: "Edited"

on:
  pull_request_target:
    types: [edited]

permissions: {}

jobs:
  base:
    name: Base
    if: github.event.changes.base.ref.from && github.event.changes.base.ref.from != github.event.pull_request.base.ref
    uses: ./.github/workflows/edited-base.yml
    # Currently needed downstream for labels.yml
    permissions:
      contents: read
      pull-requests: write
